
.home__temp {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 101%;
  background-color: #000;
  color: #fff;

  .splash__area {
    // background: url(../assets/img/Mobile/SpashD-MOB.svg);
    position: relative;
    height: 70vh;
    overflow: hidden;
    
    // background-size: cover;
    // background-position: top center;

    img {
      // box-sizing: border-box;
      position: absolute;
      overflow: hidden;
      top: -4rem;
      width: 117%;

    }
  }

  .campaign {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 83%;
    
    &__title {
      padding-bottom: 2rem;
      text-transform: uppercase;
      font-family: 'Krona One', sans-serif;
      font-weight: lighter;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;

      span {
        color: #FFF800;
      }
    }

    &__text {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
  
      b {
        letter-spacing: 0;
      }
    }

    &__link {
      width: 16rem;
      margin: 0 auto;
      font-family: 'Work Sans', sans-serif;
      text-align: center;
      color:  #FFE600;
  
      a {
        text-decoration: underline;
        font-weight: bold;
        color:  #FFE600;
      }
    }
  }

}

.drive__btn {
  width: 20rem;
  margin: 2rem auto 1rem;
  padding: 1rem 0;
  border-radius: 2rem;
  font-family: 'Krona One', sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #FFE600;
  color: #000;

}

.contato-da__footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  .marcada__img {
    width: 6rem;
  }
  .insta__link {
    width: 2rem;
    margin-left: 1.5rem;
    padding-left: 1.5rem;
    border-left: solid 1px #ffffff73;
  
    img {
      height: 2rem;
    }
  }
}

@media (min-width: 1024px) {
  .home__temp {
    flex-flow: wrap;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .splash__area {
      height: 100vh;
      width: 50vw;

      img {
        top: 50%;
        transform: translateY(-50%);
        width: 90%;
      }
    }

    .campaign {
      width: 39vh;
      padding-left: 5rem;

      &__link {
        margin: 0;
        text-align: left;
      }
    }
  }

  .drive__btn {
    margin: 2rem 0 1rem;
  }

  .contato-da__footer {
    justify-content: flex-start;
  }
}

@media (min-width: 1440px) {
  .home__temp {

    .campaign {
      padding-left: 10rem;
    }
  }
}


